  body {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 14px;
  }

  p {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
  }

  h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: black;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
  }

  h2 {
    font-family: 'Cormorant Garamond', serif;
    font size: 26px;
    color: black;
    text-align: left;
    line-height: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-style: italic;
  }

  h3 {
    font-family: 'Cormorant Garamond', serif;
    font size: 24px;
    color: black;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .span-col-3 {
    grid-column: span 3 / auto;
  }

  .PLNTS {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: center;
    color: black;
  }

  .header-icons {
    position: relative;
    display: inline-block;
    text-align: right;
    padding: 15px;
    padding-right: 40px;
  }

  .icofont-facebook:before {
    content: "\ed37";
    font-size: 1.5em;
    background: white;
    color: gray;
  }

  .icofont-instagram:before {
    content: "\ed46";
    font-size: 1.5em;
    background: white;
    color: gray;
  }

  .icofont-twitter:before {
    content: "\ed7a";
    font-size: 1.5em;
    background: white;
    color: gray;
  }

  .icofont-youtube:before {
    content: "\ed8b";
    font-size: 1.5em;
    background: white;
    color: gray;
  }

  .snakeplant {
    max-width: 100%;
  }

  .footer {
    margin: 20px;
    text-align: center;
    font-size: 12px;
  }

  a:hover {
    text-decoration: none;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  a:active {
    color: black;
  }

  li {
    position: relative;
    display: inline-block;
    text-transform: lowercase;
    width: 70px;
    margin-bottom: 5px;
  }

  li a {
    display: inline-block;
    text-decoration: none;
    color: gray;
  }

  li ul {
    display: none;
    position: absolute;
    padding: 0.5em;
  }

  li:hover ul {
    display: block;
    color: black;
  }

  li li {
    display: block;
  }
